.container-fluid{padding: 0px;}
.navbar{width: 100%;display: inline-flex;justify-content: space-between;}
.Brand{color: #fff; font-style: italic; font-size: 20px; margin-left: 20px;}
.Brand span{color: rgb(204, 135, 7);}
.navbar-collapse{flex-grow: 0;}
.header{ margin-right: 50px;}
.badge{ background: #fff; color: #000; border-radius: 50%; width: 20px; font-size: 10px;  }
.mode{cursor: pointer; background:none; border: none; margin-top: -5px }
.mode i{font-weight: bolder;}
.mode:focus{box-shadow: none;}
.iconshow{display: block;}
.iconhide{display: none;}

@media(max-width: 600px){
    .header{ text-align: center;}
}